@font-face {
    font-family: nanifont;
    font-style: normal;
    font-weight: bolder;
    font-size: xx-large;
    src: url(https://cdn.jsdelivr.net/gh/max32002/nanifont@1.036/webfont/NaniFont-Regular.woff2) format("woff2")
    , url(https://cdn.jsdelivr.net/gh/max32002/nanifont@1.036/webfont/NaniFont-Regular.woff) format("woff");
  }
body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(0, 141, 7); */
  background-image: url('src/cloth.webp');
  /* background-size: cover; */
  background-position: -20px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}
.main-game {
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.finish-game{
    width: 100vw;
    height: 100vh;
    /* padding: 40vh 0vw; */
    text-align: center;
    background-color: rgba(0,0,0,0.7);
    background-clip: content-box;
}

#cards {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
  background-image: url('src/wood-min.webp');
  background-size:contain;
  padding: 5vh 10px;
}
#cardsTable {
  width: 100%;
  height: 100%;
  text-align: center;
}

@media (min-width: 576px) {
  #cards {
    width: 60vh;
    background-color: aqua;
  }
}

#blocker{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0);
    z-index: 100;
    top:0;
    right:0;
}

#finish-h1{
    font-size: xx-large;
    color: white;
    font-weight: bolder;
    margin: 2vh 0vw;
    font-family: nanifont;
}

#start-h1{
    font-size: xx-large;
    font-family: nanifont;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    margin: 2vh 0vw;
    text-shadow: 3px 3px 3px rgba(237, 102, 255, 0.5);
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: calc(90vw/4);
  max-width: calc(90vh*9/16/4);
  height: calc(90vh/5);
  /* border: 5px solid #f1f1f1; */
  margin: auto;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
} */
.flip-card-active {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid #f1f1f1;
  border-radius: 3px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: dodgerblue;
  color: white;
  transform: rotateY(180deg);
}

.card-photo-back {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0px;
  background-color: white;
}

@keyframes jump {
    from {
        border: 1px solid red;
        transform: rotate(1deg);
    }
    to {
        border: 6px solid pink;
        transform: rotate(-1deg);
    }
}
#canvas{
    background:rgba(0,0,0,0);
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    width: 100vw;
    height: 100vh;
}
#againBtn{
    animation: jump 0.2s infinite alternate;
}
#startBtn{
    animation: jump 0.2s infinite alternate;
    position: static;
    bottom: 5vh;
    margin: 5px;
}
#end-pannel{
    position: absolute;
    width: 100vw;
    height: 30vh;
    margin:45vh 0vw;
    z-index: 10;
    background-color: rgba(255, 207, 207, 0.3);
}
#start-pannel{
    padding: 10px;
    width: 100vw;
    height: 80vh;
    margin: 10vh 0vw;
    background-color: white;
    text-align: center;
}
#bgm{
    display: none;
}